In [3]:
import pandas as pd

In [4]:
names = ["ABC","DEF","GHI","ABC","PQR"]
sentence = ["How is everyone doing","I'm doing awesome ","Doing great","not doing bad at all","how is the weather there"]

df = pd.DataFrame({"names":names,
             "sentence":sentence})

In [5]:
df

  names                  sentence
0   ABC     How is everyone doing
1   DEF        I'm doing awesome
2   GHI               Doing great
3   ABC      not doing bad at all
4   PQR  how is the weather there

In [6]:
# Approach - Do for 1. Same logic will be applied for all via for loop


# Step 1 - Collect all the unique names
# step 2 - Run a for loop for each name
# Step 3 - filter the data for that name
#step 4 = Create a tranform df where it contains two columns one has name and the other has the words
#Step 5 = Do nunique to get the total number of words
#step 6 = Do value_counts to find the frequent words
#step 7 = Collect the same for all the names in a dict 
#step 8 = Convert the dict to DataFrame

In [7]:
#collecting all the unique names
names = df.names.unique().tolist()
names

['ABC', 'DEF', 'GHI', 'PQR']

In [8]:
def find_values(ind_df):
    
    total_unique_words = ind_df['Words'].nunique()
    frequent_word = ind_df['Words'].value_counts().index[0]
    count_of_frequent_words = ind_df['Words'].value_counts().values[0]
    
    
    return total_unique_words,frequent_word,count_of_frequent_words


def transform_df(name):
    #print(name)
    print(df[df['names']==name])
    temp = df[df['names']==name]
    
    list_of_words = []
    for i in temp.sentence:
        print(i.split(" "))
        list_of_words.extend(i.split(" ")) #here we didn't take append coz appends takees one value at a time. Do check doing append as well and enjoy the result!
        print(list_of_words)

        #Taking an empty dataframe for creating the tranformed dataframe
        ind_df = pd.DataFrame({'Words':list_of_words,'Name':name})  
        
    return ind_df

In [9]:
summary_dict = {}
for name in names:

    transformed_df = transform_df(name)
    total_unique_words,frequent_word,count_of_frequent_words = find_values(transformed_df)
    
    summary_dict[name] =[ total_unique_words,frequent_word,count_of_frequent_words]

  names               sentence
0   ABC  How is everyone doing
3   ABC   not doing bad at all
['How', 'is', 'everyone', 'doing']
['How', 'is', 'everyone', 'doing']
['not', 'doing', 'bad', 'at', 'all']
['How', 'is', 'everyone', 'doing', 'not', 'doing', 'bad', 'at', 'all']
  names            sentence
1   DEF  I'm doing awesome
["I'm", 'doing', 'awesome', '']
["I'm", 'doing', 'awesome', '']
  names     sentence
2   GHI  Doing great
['Doing', 'great']
['Doing', 'great']
  names                  sentence
4   PQR  how is the weather there
['how', 'is', 'the', 'weather', 'there']
['how', 'is', 'the', 'weather', 'there']

In [10]:
summary_dict

{'ABC': [8, 'doing', 2],
 'DEF': [4, 'doing', 1],
 'GHI': [2, 'great', 1],
 'PQR': [5, 'weather', 1]}

In [11]:
summary_df= pd.DataFrame(summary_dict).T
summary_df.columns=["total_unique_words","frequent_word","count_of_frequent_words"]
summary_df

    total_unique_words frequent_word count_of_frequent_words
ABC                  8         doing                       2
DEF                  4         doing                       1
GHI                  2         great                       1
PQR                  5       weather                       1